brotlipy==0.7.0
certifi
cffi 
charset-normalizer 
cloudpickle==2.2.1
contourpy
cryptography 
cycler 
filelock 
flit_core 
fonttools==4.25.0
gmpy2 
gym==0.20.0
gym-notices==0.0.8
idna
Jinja2 
jsonargparse==4.20.0
kiwisolver 
MarkupSafe 
matplotlib
mpmath==1.2.1
munkres==1.1.4
networkx 
numpy
packaging 
Pillow==9.4.0
pycparser 
pyglet==1.5.27
pyOpenSSL
pyparsing 
PySocks 
python-dateutil 
PyYAML==6.0
requests 
Shapely 
six 
sympy 
torch==2.0.0
torchaudio==2.0.0
torchvision==0.15.0
tornado
tqdm 
typing_extensions 
urllib3